* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #FCFCFC;
    font-family: 'Arsenal', sans-serif;
    overflow: hidden
}

.indexframe, .mainframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.indexframe {
    gap: 150px;
}

.mainframe {
    gap: 100px;
}

.btn {
    background-color: #404080;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 56px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 1px solid transparent;
}

    .btn:hover {
        background-color: #FCFCFC;
        color: black;
        border: 1px solid black;
    }

.h-icon {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.main-text {
    font-size: 90px;
    font-weight: 400;
}

#maintitle {
    font-size: 140px;
    font-weight: 400;
}


#container {
    height: 100vh;
}

#subtitle {
    font-size: 70px;
    font-weight: 400;
}

progress {
    background-color: #385682;
    height: 8%;
    width: 80%;
    border-radius: 50px;
}

    progress::-webkit-progress-bar {
        background-color: #385682;
        border-radius: 50px;
    }

    progress::-webkit-progress-value {
        background-color: #5b9cff;
        border-radius: 50px;
    }

    progress::-moz-progress-bar {
        background-color: #385682;
        border-radius: 50px;
    }

select {
    font-weight: 400;
    font-size: 12px;
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 8em 0.5em 4em;
    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

    select.minimal {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }

        select.minimal:focus {
            background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
            background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 1px 1.5em;
            background-repeat: no-repeat;
            outline: 0;
        }


    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }


.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#preview {
    background-color: gray;
    height: 70vh;
    width: 100%;
}

#result-page-icons {
    display: flex;
    gap: 450px;
}

.icon {
    width: 100px;
    height: 100px;
}
